<!doctype html>
<html lang="en">

<% include ../partials/head %>

	<body>

		<div class="wrapper">

			<div class="sidebar" data-color="orange" data-image="../img/sidebar-1.jpg">
				<div class="logo">
					<a href="/auth/dashboard" class="simple-text">
          Glimpse
				</a>
				</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li>
							<a href="/auth/dashboard">
								<i class="material-icons">dashboard</i>
								<p>Dashboard</p>
							</a>
						</li>
						<li>
							<a href="/auth/user">
								<i class="material-icons">person</i>
								<p>User Profile</p>
							</a>
						</li>
						<li>
							<a href="/auth/patients">
								<i class="material-icons">content_paste</i>
								<p>Patients</p>
							</a>
						</li>
						<li class="active">
							<a href="/auth/surveys">
								<i class="material-icons">library_books</i>
								<p>Surveys</p>
							</a>
						</li>
						<li>
							<a href="/auth/submissions">
								<i class="material-icons">message</i>
								<p>Submissions</p>
							</a>
						</li>
						<li>
							<a href="/auth/analysis">
								<i class="material-icons">pageview</i>
								<p>Analysis</p>
							</a>
						</li>
						<li class="active-pro">
							<a href="/auth/logout">
								<i class="material-icons">unarchive</i>
								<p>Logout</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="main-panel">
				<nav class="navbar navbar-transparent navbar-absolute">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<a href="/auth/surveys" class="navbar-brand">
								<% if (!user.username){%>
									Welcome,
									<%= user.email%>
										<% }else{ %>
											Welcome,
											<%= user.username%>
												<% } %>
							</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="material-icons">library_books</i>
										<% unread.forEach(function (notifcations) { %>
											<% if(notifcations.read === false) { %>
												<span class="notification"></span>
												<% } %>
													<% }) %>
														<p class="hidden-lg hidden-md">Notifications</p>
									</a>
									<ul class="dropdown-menu">
										<li><a href="/auth/submissions">You have <%=unread.length%> new Submission(s)</a></li>
									</ul>
								</li>
							</ul>

							<form class="navbar-form navbar-right" role="search">
								<div class="form-group  is-empty">
									<input type="text" class="form-control" placeholder="Search">
									<span class="material-input"></span>
								</div>
								<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
							</form>
						</div>
					</div>
				</nav>

				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="card card-plain">
									<div class="card-header" data-background-color="orange">
										<h4 class="title">Surveys</h4>
										<p class="category">Listing surveys and your actions</p>
									</div>
									<div class="card-content table-responsive">
										<table class="table table-hover">
											<thead>
												<th>Actions</th>
												<th>Type</th>
												<th>Status</th>
												<th>Title</th>
											</thead>
											<% surveys.forEach(function (survey) { %>
												<tbody>
													<tr>
														<td class="td-actions text-right">
															<form style="padding-right:10px;" action="/surveys/<%=survey.id%>" method="GET">
																<input type="submit" class="btn btn-primary" value="Edit">
															</form>
														</td>
														<td>
															<%=survey.type%>
														</td>
														<td>
															<% if(survey.status_on === true) { %>
																<div class="switch">
																	<label>
                                                      Off
                                                      <input disabled type="checkbox" checked>
                                                      <span class="lever"></span>
                                                      Active
                                                    </label>
																</div>
																<% }else{ %>
																	<div class="switch">
																		<label>
																											Off
																											<input disabled type="checkbox">
																											<span class="lever"></span>
																											Active
																										</label>
																	</div>
																	<% } %>
														</td>
														<td>
															<%=survey.title%>
														</td>

														<% }) %>
													</tr>
												</tbody>
										</table>
									</div>
									<a href="/surveys/new"><button type="submit" class="btn btn-warning pull-right">Add Survey</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

	<% include ../partials/footer %>

		<script type="text/javascript">
			$(document).ready(function() {

				// Javascript method's body can be found in assets/js/demos.js
				demo.initDashboardPageCharts();

			});
		</script>

</html>
