<!doctype html>
<html lang="en">

<% include ../partials/head %>

	<body>

		<div class="wrapper">
			<div class="sidebar" data-color="blue" data-image="../img/sidebar-1.jpg">

				<div class="logo">
					<a href="/auth/dashboard" class="simple-text">
          Glimpse
				</a>
				</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li>
							<a href="/auth/dashboard">
								<i class="material-icons">dashboard</i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="active">
							<a href="/auth/user">
								<i class="material-icons">person</i>
								<p>User Profile</p>
							</a>
						</li>
						<li>
							<a href="/auth/patients">
								<i class="material-icons">content_paste</i>
								<p>Patients</p>
							</a>
						</li>
						<li>
							<a href="/auth/surveys">
								<i class="material-icons">library_books</i>
								<p>Surveys</p>
							</a>
						</li>
						<li>
							<a href="/auth/submissions">
								<i class="material-icons">message</i>
								<p>Submissions</p>
							</a>
						</li>
						<li>
							<a href="/auth/analysis">
								<i class="material-icons">pageview</i>
								<p>Analysis</p>
							</a>
						</li>
						<li class="active-pro">
							<a href="/auth/logout">
								<i class="material-icons">unarchive</i>
								<p>Logout</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="main-panel">
				<nav class="navbar navbar-transparent navbar-absolute">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<a href="/auth/user" class="navbar-brand">
								<% if (!user.username){%>
									Welcome,
									<%= user.email%>
										<% }else{ %>
											Welcome,
											<%= user.username%>
												<% } %>
							</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="material-icons">library_books</i>
										<% unread.forEach(function (notifcations) { %>
											<% if(notifcations.read === false) { %>
												<span class="notification"></span>
												<% } %>
													<% }) %>
														<p class="hidden-lg hidden-md">Notifications</p>
									</a>
									<ul class="dropdown-menu">
										<li><a href="/auth/submissions">You have <%=unread.length%> new Submission(s)</a></li>
									</ul>
								</li>
							</ul>

							<form class="navbar-form navbar-right" role="search">
								<div class="form-group  is-empty">
									<input type="text" class="form-control" placeholder="Search">
									<span class="material-input"></span>
								</div>
								<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
							</form>
						</div>
					</div>
				</nav>

				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8">
								<div class="card">
									<div class="card-header" data-background-color="blue">
										<h4 class="title">Edit Profile</h4>
										<p class="category">Complete your profile</p>
									</div>
									<div class="card-content">
										<form action="/users/<%=user.id%>?_method=PUT" method="post">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Company</label>
														<input type="text" name="company_name" class="form-control" value="<%=user.company_name%>" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Username</label>
														<input type="text" name="username" class="form-control" value="<%=user.username%>" required>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Email</label>
														<input type="text" name="email" class="form-control" value="<%=user.email%>" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Role</label>
														<input type="text" name="role" class="form-control" value="<%=user.role%>" required>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Fist Name</label>
														<input type="text" name="first_name" class="form-control" value="<%=user.first_name%>" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Last Name</label>
														<input type="text" name="last_name" class="form-control" value="<%=user.last_name%>" required>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group label-floating">
														<label class="control-label">Address</label>
														<input type="text" name="address" class="form-control" value="<%=user.address%>" required>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="form-group label-floating">
														<label class="control-label">City</label>
														<input type="text" name="city" class="form-control" value="<%=user.city%>" required>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group label-floating">
														<label class="control-label">State</label>
														<input type="text" name="state" class="form-control" value="<%=user.state%>" required>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group label-floating">
														<label class="control-label">Postal Code</label>
														<input type="text" name="postal_code" class="form-control" value="<%=user.postal_code%>" required>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Avatar</label>
														<input type="text" name="avatar" class="form-control" value="<%=user.avatar%>" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group label-floating">
														<label class="control-label">Password</label>
														<input type="password" name="hashed_password" class="form-control" required>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>About Me</label>
														<div class="form-group label-floating">
															<textarea class="form-control" name="bio" rows="5" required><%=user.bio%></textarea>
														</div>
													</div>
												</div>
											</div>

											<button type="submit" class="btn btn-info pull-right">Update Profile</button>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card card-profile">
									<div class="card-avatar">
										<img class="img" src="<%=user.avatar%>" />
									</div>

									<div class="content">
										<h6 class="category text-gray"><%=user.role%></h6>
										<h4 class="card-title"><%=user.username%></h4>
										<p class="card-content">
											<%=user.bio%>
										</p>
										<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
											<input type="submit" onclick="return confirm('Are you sure you want to delete this account?');" class="btn btn-danger" value="Delete Account">
										</form>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

	<% include ../partials/footer %>


</html>
